# 15-grafana-config.yaml (EKS version)
# Grafana datasource configuration for ClickHouse cluster
# Service name changes with sharded cluster

apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: ClickHouse-Official
        type: grafana-clickhouse-datasource
        uid: adsb-official
        editable: true
        jsonData:
          # For sharded cluster, connect to the cluster service
          # Service name: clickhouse-<chi-name>.<namespace>.svc.cluster.local
          host: clickhouse-adsb-data.clickhouse.svc.cluster.local
          port: 8123
          protocol: http
          defaultDatabase: adsb
          username: adsb_query
        secureJsonData:
          password: query123
      
      - name: ClickHouse-Altinity
        type: vertamedia-clickhouse-datasource
        uid: adsb-altinity
        editable: true
        url: http://clickhouse-adsb-data.clickhouse.svc.cluster.local:8123
        secureJsonData:
          password: query123
        user: adsb_query
