# terraform.tfvars.example
# Copy this to terraform.tfvars and customize as needed

# AWS Region
aws_region = "us-east-2"

# EKS Cluster Configuration
cluster_name    = "adsb-eks-lab"
cluster_version = "1.31"

# VPC Configuration
vpc_cidr           = "10.0.0.0/"
single_nat_gateway = true  # Set to false for multi-AZ HA (higher cost)

# Node Groups Configuration
# Specify capacity_type SPOT or ON_DEMAND
node_groups = {
  clickhouse_spot = {
    instance_types = ["t4g.medium"]
    capacity_type  = "ON_DEMAND"
    min_size       = 4
    max_size       = 4
    desired_size   = 4
    disk_size      = 40
    labels = {
      adsb-clickhouse = "true"
    }
  }

  support_spot = {
    instance_types = ["t4g.small"]
    capacity_type  = "ON_DEMAND"
    min_size       = 2
    max_size       = 3
    desired_size   = 3
    disk_size      = 20
    labels = {
      adsb-clickhouse-keeper = "true"
    }
  }
}

  # Spot instance node group example
  # graviton_spot = {
  #   instance_types = ["t4g.medium", "t4g.small"]  # Multiple types for better availability
  #   capacity_type  = "SPOT"
  #   min_size       = 2
  #   max_size       = 6
  #   desired_size   = 3
  #   disk_size      = 30
  #   labels = {
  #     adsb-clickhouse = "true"
  #  }
  # }