apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: {{ monitoring_namespace }}
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      # Prometheus datasource for operator metrics and real-time monitoring
      - name: Prometheus
        type: prometheus
        access: server
        url: http://prometheus.{{ monitoring_namespace }}.svc.cluster.local:9090
        jsonData:
          timeInterval: 30s
        editable: true
        isDefault: true

      # Altinity ClickHouse datasource using vertamedia plugin
      - name: ClickHouse
        type: vertamedia-clickhouse-datasource
        uid: clickhouse
        editable: true
        url: http://clickhouse-adsb-data.{{ clickhouse_namespace }}.svc.cluster.local:8123
        jsonData:
          defaultDatabase: default
        secureJsonData:
          password: {{ clickhouse_password }}
        user: adsb_query
      
      # ClickHouse Grafana datasource plugin
      - name: ADS-B ClickHouse
        type: grafana-clickhouse-datasource
        uid: adsb
        editable: true
        jsonData:
          host: clickhouse-adsb-data.{{ clickhouse_namespace }}.svc.cluster.local
          port: 8123
          protocol: http
          defaultDatabase: adsb
          username: adsb_query
        secureJsonData:
          password: {{ clickhouse_password }}
---          
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboard-provider
  namespace: {{ monitoring_namespace }}
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'ClickHouse Monitoring'
        orgId: 1
        folder: 'ClickHouse'
        type: file
        disableDeletion: false
        updateIntervalSeconds: 30
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards/clickhouse
      - name: 'ADS-B Dashboards'
        orgId: 1
        folder: 'ADS-B'
        type: file
        disableDeletion: false
        updateIntervalSeconds: 30
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards/adsb
