---
# templates/clickhouse-s3-serviceaccount.yml.j2
# ServiceAccount for ClickHouse S3 backup access (IRSA)

apiVersion: v1
kind: ServiceAccount
metadata:
  name: clickhouse-s3
  namespace: {{ clickhouse_namespace }}
  annotations:
    eks.amazonaws.com/role-arn: {{ role_arn }}
